@import '~@angular/flex-layout/mq';

// TODO duplicated with vehicle
.player-rucksack-content {
  @include layout-bp(xs) {
    ::ng-deep .mat-form-field {
      display: block;
      margin-top: 1em;
    }
  }

  @include layout-bp(gt-sm) {
    display: flex;
    flex-wrap: wrap;
  }
}
