<form #form="ngForm" (submit)="doSubmit()">
  <h1 mat-dialog-title>{{ 'home.rush.join' | translate }}</h1>
  <div mat-dialog-content>
    <mat-form-field [hintLabel]="'home.rush.hint' | translate">
      <input matInput name="rushUuid"
             [(ngModel)]="rushUuid" [required]="true"
             [placeholder]="'home.rush.uuid' | translate"/>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      <mat-icon>done</mat-icon>
      {{ 'app.action.validate' | translate}}
    </button>
    <button mat-raised-button type="button" (click)="doClose()">
      <mat-icon>cancel</mat-icon>
      {{ 'app.action.close' | translate }}
    </button>
  </div>
</form>
