@import '~@angular/flex-layout/mq';

// Variables
$toolbarHeight: 64px;

// Style
:host {
  .mat-form-field {
    width: 100%;
  }

  .welcome-content {
    .welcome-action-row {
      &:not(:first-child) {
        margin-top: .25em;
      }

      @include layout-bp(xs) {
        & > .mat-button-base {
          margin: 0;
          width: 100%;

          &:not(:first-child) {
            margin-top: .25em;
          }
        }
      }

      @include layout-bp(gt-xs) {
        display: flex;
        align-items: stretch;
        justify-items: stretch;

        & > .mat-button-base {
          flex: 1;
          margin: 0;

          &:not(:first-child) {
            margin-left: .25em;
          }
        }
      }
    }

    @include layout-bp(lt-md) {
      & > * {
        margin: 1em;
      }
    }

    @include layout-bp(gt-sm) {
      height: calc(100vh - #{$toolbarHeight});
      display: flex;
      justify-content: center;
      align-items: center;

      & > * {
        width: 400px;
      }

      & > * + * {
        margin-left: 1em;
      }
    }
  }
}
