<app-navbar></app-navbar>
<mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>

<div class="welcome-content">
  <form #form="ngForm">
    <mat-card>
      <mat-card-title>
        <mat-icon>person</mat-icon>
        {{ 'home.player.title' | translate }}
      </mat-card-title>
      <mat-card-content>
        <mat-form-field [hintLabel]="'home.player.name' | translate">
          <input matInput name="name" [required]="true"
                 [(ngModel)]="playerName" [disabled]="loading"
                 [placeholder]="'app.model.name' | translate"/>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <div class="welcome-action-row">
          <button mat-raised-button color="primary" type="button"
                  [disabled]="form.invalid || loading" (click)="doCreateRush()">
            <mat-icon>group</mat-icon>
            {{ 'home.rush.create' | translate }}
          </button>
          <button mat-raised-button color="primary" type="button"
                  [disabled]="form.invalid || loading" (click)="doLaunchSoloRush()">
            <mat-icon>person</mat-icon>
            {{ 'home.rush.launch' | translate }}
          </button>
        </div>
        <div class="welcome-action-row">
          <button mat-raised-button color="accent" type="button"
                  [disabled]="form.invalid || loading" (click)="doJoinRush()">
            <mat-icon>person_add</mat-icon>
            {{ 'home.rush.join' | translate }}
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>

  <mat-card>
    <mat-card-title>
      <mat-icon>mood</mat-icon>
      {{ 'home.welcome.title' | translate }}
    </mat-card-title>
    <mat-card-content>
      <p>{{ 'home.welcome.content.1' | translate }}</p>
      <p>
        {{ 'home.welcome.content.2.1' | translate }}
        <a href="https://robertsspaceindustries.com/community/citizen-spotlight/16649-Mining-Yield-Calculator">TRFF</a>
        {{ 'home.welcome.content.2.2' | translate }}
        <a href="#">Tankinator</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
