<form #form="ngForm" (submit)="doSubmit()">
  <h1 mat-dialog-title>{{ 'home.lobby.group.edit' | translate:{index: data.groupIndex + 1} }}</h1>
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput name="name" [(ngModel)]="groupName"
             [placeholder]="'model.name' | translate"/>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select name="vehicle" [(ngModel)]="vehicleName"
                  [placeholder]="'model.vehicle' | translate">
        <mat-option>{{ 'app.common.none' | translate }}</mat-option>
        <mat-option *ngFor="let vehicle of data.settings.vehicles" [value]="vehicle.name">
          {{ 'home.lobby.vehicle' | translate:vehicle }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select name="leader" [(ngModel)]="leaderName"
                  [placeholder]="'model.leader' | translate">
        <mat-option>{{ 'app.common.none' | translate }}</mat-option>
        <mat-option *ngFor="let player of data.group.players" [value]="player.name">
          {{ player.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.dirty && form.invalid">
      <mat-icon>done</mat-icon>
      {{ 'app.action.validate' | translate}}
    </button>
    <button mat-raised-button type="button" (click)="doClose()">
      <mat-icon>cancel</mat-icon>
      {{ 'app.action.close' | translate }}
    </button>
  </div>
</form>
