<div class="lobby-groups">
  <mat-grid-list [cols]="gridListProps.cols" [rowHeight]="gridListProps.rowHeight" gutterSize=".25em">
    <mat-grid-tile *ngFor="let group of rush.groups; let index = index">
      <mat-card class="mat-card-alt">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon [matBadge]="(group.players.length).toString()"
                      [matBadgeColor]="group.players.length === 0 ? 'warn' : null"
                      matBadgePosition="above before"
                      [title]="'home.lobby.group.playersNumber' | translate">
              group
            </mat-icon>
          </div>
          <mat-card-title>{{ group.name }}</mat-card-title>
          <mat-card-subtitle>
            <ng-container *ngIf="group.vehicle">{{ 'app.label.vehicle' | translate:group.vehicle }}</ng-container>&nbsp;
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-lobby-drop-list [players]="group.players" [group]="group"></app-lobby-drop-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="doEditGroup(group, index)" *ngIf="isRushLeader() || isGroupLeader(group)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="doRemoveGroup(group)" *ngIf="isRushLeader()">
            <mat-icon>delete</mat-icon>
          </button>
          <div class="mat-spacer"></div>
          <button mat-icon-button
                  [title]="'home.lobby.group.join' | translate"
                  [disabled]="group.players.includes(player)"
                  (click)="doAddPlayer(group, player)">
            <mat-icon>person_add</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="lobby-add-group-tile" *ngIf="isRushLeader()">
      <mat-card class="mat-card-alt" (click)="doNewGroup()">
        <mat-card-content>
          {{ 'home.lobby.group.add' | translate }}
          <mat-icon>group_add</mat-icon>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
