<mat-toolbar color="primary">
  <mat-icon>{{ rush.single ? 'person' : 'group' }}</mat-icon>
  <span>{{ 'rush.menu.' + (rush.single ? 'single' : 'multi') | translate }}</span>
</mat-toolbar>
<mat-nav-list>
  <app-list-tree-item *ngFor="let item of items" [item]="item"></app-list-tree-item>
</mat-nav-list>
<!-- TODO -->
<pre>TODO sidenav:
[- global overview]: room.leader
[- my group]: group.leader (see below)
- my player
  - overview
  - boxes
[- my group
  - overview
  - vehicle
    - overview
    - fragments
  - others players
    - overview
    - boxes]: !group.leader
[- overview]
- groups
  - overview
  - vehicle
    - overview
    - fragments
  - players
    - overview
    - boxes
</pre>
