<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <!-- TODO -->
    <pre>TODO sidenav:
[- global overview]: room.leader
[- my group]: group.leader (see below)
- my player
  - overview
  - boxes
[- my group
  - overview
  - vehicle
    - overview
    - fragments
  - others players
    - overview
    - boxes]: !group.leader
[- overview]
- groups
  - overview
  - vehicle
    - overview
    - fragments
  - players
    - overview
    - boxes
    </pre>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar></app-toolbar>
    <!-- TODO -->
    <pre>TODO toolbar:
- title: rush.name
- uuid: rush.uuid
- actions: finish, quit
    </pre>
    <pre>TODO content:
- general overview [screen]
- group [screen]
  - overview [tab]
- vehicle [screen]
  - overview [tab]
  - fragments [tab]
- player [screen]
  - overview [tab]
  - boxes [tab]
    </pre>
  </mat-sidenav-content>
</mat-sidenav-container>
