<app-resume-list>
  <app-resume-item icon="money" transLabel="rush.common.estimated.total"
                   [value]="estimatedBoxValue" [currency]="true"></app-resume-item>
  <app-resume-item icon="storage" transLabel="rush.player.rucksack.items"
                   [value]="filledQuantity"
                   [total]="totalQuantity"></app-resume-item>
</app-resume-list>
<div class="player-rucksack-content">
  <app-rush-input-item *ngFor="let boxItem of player.rucksack?.items"
                       [item]="boxItem.item" [type]="boxItem.type" [(quantity)]="boxItem.quantity"
                       [estimatedValue]="estimateBoxItemValue(boxItem)"></app-rush-input-item>
  <app-rush-select-item [itemGroups]="itemGroups"
                        (selectionChange)="doAddItem($event)"></app-rush-select-item>
</div>
<button mat-fab color="accent" class="app-fab-bottom-right"
        [title]="'rush.player.moveToBox' | translate"
        [attr.aria-label]="'rush.player.moveToBox' | translate"
        [disabled]="filledQuantity === 0"
        (click)="doMoveToBox()">
  <mat-icon>move_to_inbox</mat-icon>
</button>
