<app-resume-list>
  <app-resume-item icon="money" transLabel="rush.common.estimated.total"
                   [value]="estimatedCargoValue" [currency]="true"></app-resume-item>
  <app-resume-item icon="storage" transLabel="rush.vehicle.cargo.filled"
                   [value]="filledQuantity" [total]="totalQuantity"></app-resume-item>
</app-resume-list>
<div class="player-vehicle-content">
  <mat-toolbar>
    <div>
      <mat-card-title class="toolbar-title">{{ 'app.model.fragment' | translate }} #{{ fragmentIndex }}</mat-card-title>
      <mat-card-subtitle class="toolbar-subtitle" [title]="'rush.common.estimated.value' | translate">
        {{ estimatedFragmentValue | currency }}
      </mat-card-subtitle>
    </div>
    <mat-form-field>
      <input matInput name="mass" min="0" max="99"
             [(ngModel)]="fragmentMass"
             [placeholder]="'app.model.mass' | translate"/>
    </mat-form-field>
  </mat-toolbar>
  <app-rush-input-item *ngFor="let fragmentOre of player.cargo?.fragment?.ores"
                       [item]="fragmentOre.ore" type="ore" [(quantity)]="fragmentOre.percent" [percent]="true"
                       [estimatedValue]="estimateFragmentOreValue(fragmentOre)"></app-rush-input-item>
  <app-rush-select-item [itemGroups]="itemGroups"
                        (selectionChange)="doAddFragmentOre($event.item)"></app-rush-select-item>
</div>
<div class="app-fab-group-bottom-right">
  <button mat-mini-fab color="accent"
          [title]="'rush.vehicle.cargo.sales' | translate"
          [attr.aria-label]="'rush.vehicle.cargo.sales' | translate"
          [disabled]="filledQuantity === 0 || !this.player.cargo?.fragments.length"
          (click)="doSalesCargo()">
    <mat-icon>store</mat-icon>
  </button>
  <button mat-fab color="accent"
          [title]="'rush.vehicle.cargo.fragment.validate' | translate"
          [attr.aria-label]="'rush.vehicle.cargo.fragment.validate' | translate"
          [disabled]="!fragmentMass"
          (click)="doValidateFragment()">
    <mat-icon>check</mat-icon>
  </button>
</div>
