<app-resume-list>
  <app-resume-item icon="money" transLabel="rush.common.estimated.total"
                   [value]="estimatedTotal" [currency]="true"></app-resume-item>
  <app-resume-item icon="flight" transLabel="rush.player.cargos" *ngIf="player.vehicle"
                   [value]="player.cargos.length"></app-resume-item>
  <app-resume-item icon="all_inbox" transLabel="rush.player.boxes"
                   [value]="player.boxes.length"></app-resume-item>
</app-resume-list>
<!-- TODO review -->
<div class="player-overview-boxes">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let box of player.boxes">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>inbox</mat-icon>
          <span>{{ 'rush.player.box.name' | translate:box }}</span>
        </mat-panel-title>
        <mat-panel-description>
          {{ 'rush.common.estimated.value' | translate }}: {{ getEstimatedBoxValue(box) | currency }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <table mat-table [dataSource]="box.items">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{ 'rush.player.box.item.label' | translate }}</th>
          <td mat-cell *matCellDef="let boxItem">{{ boxItem.item.name }}</td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>{{ 'rush.player.box.quantity' | translate }}</th>
          <td mat-cell *matCellDef="let boxItem">{{ boxItem.quantity }}</td>
        </ng-container>
        <ng-container matColumnDef="unitPrice">
          <th mat-header-cell *matHeaderCellDef>{{ 'rush.player.box.unitPrice' | translate }}</th>
          <td mat-cell *matCellDef="let boxItem">{{ boxItem.item.price }}</td>
        </ng-container>
        <ng-container matColumnDef="estimatedValue">
          <th mat-header-cell *matHeaderCellDef>{{ 'rush.common.estimated.value' | translate }}</th>
          <td mat-cell *matCellDef="let boxItem">{{ getEstimatedBoxItemValue(boxItem) }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="boxColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: boxColumns"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</div>
