@import '~@angular/flex-layout/mq';

// Variables
$pad: .5em;

// Style
.resume-items {
  @include layout-bp(xs) {
    margin-top: -1 * $pad;
  }

  @include layout-bp(gt-xs) {
    display: flex;
    align-items: stretch;

    & > ::ng-deep * {
      width: 100%;

      &:not(:first-child) {
        margin-left: $pad;
      }
    }
  }
}
