@import '~@angular/flex-layout/mq';

// Variables
$pad: .5em;

// Style

@include layout-bp(xs) {
  :host.resume-list-alt {
    .resume-list {
      display: flex;
      flex-direction: row;

      ::ng-deep .resume-item {
        width: 100%;

        &:not(:first-of-type) {
          margin-left: .5em;
        }

        .mat-card-header-text {
          margin-left: .5em;
        }
      }
    }
  }
}

.resume-list {
  @include layout-bp(xs) {
    margin-top: -1 * $pad;
  }

  @include layout-bp(gt-xs) {
    display: flex;
    align-items: stretch;

    & > ::ng-deep * {
      width: 100%;

      &:not(:first-child) {
        margin-left: $pad;
      }
    }
  }
}
