<app-navbar [menu]="menu">
  <ng-template #title>
    <mat-icon>domain_icon</mat-icon>
    <span>{{ 'home.lobby.title' | translate }}</span>
  </ng-template>
  <ng-template #actions>
    <span>{{ 'app.model.uuid' | translate }}<span fxHide.xs>: {{ rush.uuid }}</span></span>
    <button mat-icon-button [cdkCopyToClipboard]="rush.uuid">
      <mat-icon>file_copy</mat-icon>
    </button>
  </ng-template>
</app-navbar>

<div cdkDropListGroup class="lobby-content fullscreen">
  <div class="lobby-content-left">
    <app-lobby-players [player]="player" [rush]="rush"></app-lobby-players>
  </div>
  <div class="lobby-content-body">
    <app-lobby-groups [player]="player" [rush]="rush" [group]="group"></app-lobby-groups>
  </div>
</div>
