@import '~@angular/flex-layout/mq';
@import '~@angular/material/theming';

// Variables
$pad: 1em;
$radius: .25em;

$toolbarHeight: 64px;
$cardTitleHeight: 38px;
$chipHeight: 32px;

// FIXME use a best way of 100% for all divs

// Style
.lobby-content {
  @include layout-bp(lt-sm) {
    & > * {
      margin: 1em;
    }
  }

  @include layout-bp(gt-xs) {
    padding: $pad;
    height: calc(100% - (#{$toolbarHeight} + #{$pad}) * 2); // FIXME why pad ? padding is included ?
  }
}

.lobby-content-body {
  @include layout-bp(gt-xs) {
    width: 100%;
    height: 100%;
  }

  @include layout-bp(gt-sm) {
    .lobby-groups-header {
      max-width: 100%;
    }

    .lobby-groups > ::ng-deep .carousel {
      height: calc(100% - #{$toolbarHeight});
    }
  }
}
