<app-toolbar [menu]="menu"></app-toolbar>
<mat-toolbar color="primary">
  <mat-icon>domain_icon</mat-icon>
  <span>{{ 'home.lobby.title' | translate }}</span>
  <span class="mat-spacer"></span>
  <span>{{ 'model.uuid' | translate }}<span fxHide.xs>: {{ rush.uuid }}</span></span>
  <button mat-icon-button [cdkCopyToClipboard]="rush.uuid">
    <mat-icon>file_copy</mat-icon>
  </button>
</mat-toolbar>

<div cdkDropListGroup class="lobby-content fullscreen">
  <div class="lobby-content-left">
    <app-lobby-players [player]="player" [rush]="rush"></app-lobby-players>
  </div>
  <div class="lobby-content-body">
    <app-lobby-groups [player]="player" [rush]="rush" [group]="group"></app-lobby-groups>
  </div>
</div>
