<app-resume-list>
  <app-resume-item icon="money" label="@rush.common.estimated.total"
                   [value]="estimatedTotal" mode="currency"></app-resume-item>
  <app-resume-item icon="flight" [label]="{key: 'app.label.vehicle', args: player.vehicle}" *ngIf="player.vehicle"
                   [value]="player.cargo?.calculated.quantity || 0" [total]="player.vehicle.cargo"
                   mode="quantity"></app-resume-item>
  <app-resume-item icon="all_inbox" label="@rush.player.boxes"
                   [value]="player.boxes.length"
                   [addedValue]="player.rucksack?.calculated.quantity > 0 ? 1 : 0"></app-resume-item>
</app-resume-list>
<app-vehicle-cargo-overview *ngIf="player.vehicle" [owner]="player"></app-vehicle-cargo-overview>
<app-boxes-overview [boxes]="boxes"></app-boxes-overview>
